*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-weight: 400;
    height:100%;
    margin: 0;
    line-height: 1.8em;
    color: grey;
}
.navbar{
    margin-bottom: 2px;
    background-color: black;
    color: white;
}
ul{
    list-style: none;
    display:flex;
}
.navbar ul li{
    padding:8px;
   
}
.navbar ul li a{
    color:white;
    text-decoration: none;
       
}
.navbar ul li a:hover{
font-weight: bold;
font-size: large;
transition: 0.3s ease-in;
}

.pimg1{
    background-image: url(food-4993145_1920.jpg);
    min-height: 500px;
}
.pimg2{
    background-image: url(restaurant-449952_1920.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(man-2557408_1920.jpg);
    min-height: 400px;
}
.pimg1, .pimg2, .pimg3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg{
    background-color: black;
    color: white;
    padding: 20px;
}
.section{
    text-align: center;
    padding: 20px 80px;
    text-transform: uppercase;
}
